<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
  lang="en">

  <head>
    <title>Sign In</title>
  </head>
  <body>

    <div class="d-flex justify-content-center my-4" layout:fragment="content">
      <div class="card p-3" style="width: 35%;">
        <div class="card-body text-center">
          <p class="card-text fw-bold mb-4">Sign in</p>

          <form th:action="@{/login}" method="post" class="row g-3 mt-4" th:object="${login}">
            <div th:replace="~{fragments/inputField :: inputField('Username', 'username', 'username', 'text')}"></div>
            <div th:replace="~{fragments/inputField :: inputField('Password', 'password', 'password', 'password')}"></div>

            <div class="col text-center">
              <button type="submit" class="btn btn-primary mb-3" style="width: 50%;">Login</button>
            </div>
          </form>
          
          <p class="card-text mt-3">Need an account? <a href="/register">Sign Up</a></p>
        </div>
      </div>
    </div>
    
  </body>
</html>