<nav class="navbar navbar-expand-lg bg-body-tertiary px-3" th:fragment="nav(page)">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SIBKM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a th:class="${page} == 'region' ? 'nav-link active fw-bold' : 'nav-link'" href="/region">Region</a>
        </li>
        <li class="nav-item">
          <a th:class="${page} == 'country' ? 'nav-link active fw-bold' : 'nav-link'" href="/country">Country</a>
        </li>
      </ul>
      <a th:class="${page} == 'login' ? 'nav-link active fw-bold' : 'nav-link'" href="/login">Login</a>
    </div>
  </div>
</nav>