<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
  lang="en">

  <head>
    <title>Region</title>
  </head>
  <body>

    <section class="container" layout:fragment="content">
      <div class="my-4 d-flex justify-content-between align-items-center">
        <h1 class="fw-bold">List of Region</h1>
        <button type="button" class="btn btn-success btn-sm fw-bold" data-bs-toggle="modal" data-bs-target="#create-region">
          Add Region
        </button>
      </div>

      <table class="table table-bordered table-hover table-striped text-center mt-3" id="tb-region">
        <thead class="table-dark">
          <tr>
            <th class="col-1">No</th>
            <th class="col-7">Name</th>
            <th class="col-4">Action</th>
          </tr>
        </thead>
      </table>

      <!-- Create Region Modal -->
      <div class="modal fade" id="create-region" tabindex="-1" aria-labelledby="createRegionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="createRegionLabel">Add Region</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="row g-3 was-validated" method="post">
              <div class="modal-body">
                <div class="form-floating">
                  <input class="form-control"
                    type="text"
                    id="create-name-region"
                    placeholder="name"
                    required />
                  <label for="create-name-region">Name</label>
                  <div class="invalid-feedback">Please fill the name</div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="create-region-button">Create</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Update Region Modal -->
      <div class="modal fade" id="update-region" tabindex="-1" aria-labelledby="updateRegionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="updateRegionLabel">Update Region</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="row g-3 was-validated" method="post">
              <div class="modal-body">
                <input class="form-control"
                  type="text"
                  id="update-id-region"
                  hidden
                  required />
                <div class="form-floating">
                  <input class="form-control"
                    type="text"
                    id="update-name-region"
                    placeholder="name"
                    required />
                  <label for="update-name-region">Name</label>
                  <div class="invalid-feedback">Please fill the name</div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="update-region-button">Update</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Detail Region Modal -->
      <div class="modal fade" id="detail-region" tabindex="-1" aria-labelledby="detailRegionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="detailRegionLabel">Detail Region</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="row g-3" method="post">
              <div class="modal-body">

                <table class="table table-bordered table-hover table-striped text-center mt-3">
                  <thead class="table-dark">
                    <tr>
                      <th class="col-2">Id</th>
                      <th class="col-4">Name</th>
                      <th class="col-6">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="detail-id-region"></td>
                      <td id="detail-name-region"></td>
                      <td id="detail-action-region" class="d-flex justify-content-center gap-3"></td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="update-region-button">Create</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <script src="/js/region.js" layout:fragment="js"></script>

  </body>
</html>